node_modules/
build/
dist/
coverage/
*.log

**/*.test.ts
**/*.spec.ts
jest.config.js
tsconfig.test.json

.git/
.github/
.idea/
.vscode/
.DS_Store

*.md
docs/
examples/

.env
.env.*
!.env.example

.eslintrc*
.eslintignore
.prettierrc*
.prettierignore

Dockerfile*
docker-compose*.yml
.dockerignore
